@charset "utf-8";
/* CSS Document */

.ai {
	    margin-top: 100px;
	    border: medium;
	}
	


.ai img {
			display: block;
	        margin-left: auto;
	        margin-right: auto;
	        width: 500px;
	        height: 520px;
	
		}
	