
img{
			margin: 0px;
			padding: 0px;
			width: 1510px;
			margin-top: -70px;
			position: relative;
		}
		
		ul{
			
			list-style-type: none;
			margin-left: 200px;
		}
	
		li{
			
			float: left;
			margin-left: 60px;
		    display: inline-block;
			margin-top: 30px;
			z-index: 1;
			position:relative;	
		}
		
		
		
		a {
			text-decoration: none;
			font-family: 'Montserrat', sans-serif;
			color: #5F5D5D;
			font-weight: bold;
			font-size: 18px;
			position: relative;	
			
		}
		
        

		a:hover {
			color:cornsilk;	
			
		}
		
		
		/*animation*/
		.circle img{
              width:100px;
              height:100px;
              margin-top: -990px;
	          margin-left: 65px;
              position:absolute;
              overflow:hidden;
              animation: circle 15s linear infinite;
			 
             }

          @keyframes circle{
           0%{
             transform:rotate(90deg)
                       rotate(180deg);
  
             }
           100%{
              transform:rotate(360deg)
                        rotate(450deg);
             }
            }
		
		
		.shadow img {
			margin-top: -1220px;
			position: absolute;
			margin-left: -520px;	
		}
		
	
	
		
    @keyframes rotateAnimation {
	          from {transform: rotateY(45deg);}
	         to {transform: rotateY(225deg);}
        } 
	