.heading h1 {
	font-family: 'Ubuntu', sans-serif;
	font-size: 6vh;
	color: cadetblue; 
	/*background-color: antiquewhite; */
} 

.col-lg-5 img {
	border-radius: 10px;
	
}

.col-lg-5 p {
	font-size: 19px;
	font-weight: 350;
	
}