.heading h1 {
	         font-family: 'Ubuntu', sans-serif;
	         font-size: 6vh;
	         color: cadetblue; 
	      /*   background-color: antiquewhite; */
         }

.container-fluid {
	margin-top: -150px;
}


.card-columns{
	margin-top: 50px;
}

.card{
	transition: 0.9s ease;
	border-radius: 10px;
}

.card:hover{
	opacity: 0.9;
	transform: scale(0.9);
	box-shadow: 10px 10px 10px grey;
	border-radius: 10px;
}

.card-img-top{
	border-radius: 10px;
}

